[submodule "contrib/davmail"]
	path = contrib/davmail
	url = https://github.com/Nils-TUD/davmail
[submodule "contrib/vdirsyncer"]
	path = contrib/vdirsyncer
	url = https://github.com/hrniels/vdirsyncer.git
