[Desktop Entry]
Version=1.0
Type=Application
Name=Eventix
Comment=Event and Task Manager
Exec=eventix-app
Icon=com.github.hrniels.Eventix
Terminal=false
Categories=Office;Calendar;
StartupNotify=true
