/* ------------ GENERAL ------------ */

body {
    font-family: "Linux Biolinum", "Verdana";
	font-size: 1em;
}

input,select,textarea {
	font-size: 1em;
	padding: 2px;
}

img {
	border: 0;
}

/* links */
a {
	text-decoration: none;
	color: #3F5E88;
}
a:hover {
	text-decoration: underline;
}

/* ------------ PADDING ------------ */

.ev_padtop {
	margin-top: 0.9em !important;
}

.ev_padbottom {
	margin-bottom: 0.9em !important;
}

.ev_padbottom_big {
	margin-bottom: 1.5em !important;
}

/* ------------ FORMULARS ------------ */

fieldset.ev_form {
	padding: 0;
	margin: 0;
	border: 0;
}

fieldset.ev_form dl {
	padding: 0;
	margin: 0;
	margin-top: 1px;
	background-color: #dbdbdb;
}

fieldset.ev_form dt {
	display: block;
	margin: 0;
	float: left;
	padding: 0.5em;
	width: 21%;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}

fieldset.ev_form dd {
	display: block;
	margin: 0;
	padding: 0.5em;
	margin-left: 23%;
	background-color: #ebebeb;
	vertical-align: middle;
}

fieldset.ev_form div.ev_submit {
	font-size: 1.1em;
	font-weight: bold;
	padding: 0.8em;
	background-color: #dbdbdb;
	text-align: center;
}

/* ------------ PAGINATION ------------ */

.ev_pageno {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
    margin: .1em;
}

.ev_pagecurrent {
	padding: 0px 4px;
	font-weight: bold;
}

.ev_pageno a {
	padding: 1px 4px;
}

.ev_pageno a:hover {
	background-color: #3F5E88;
	color: #fff;
	text-decoration: none;
}

/* ------------ CONTENT ------------ */

.ev_main {
	padding: 0.3em;
	background-color: #f6f6f6;
}

.ev_tabheader {
    display: inline;
    font-size: 1.3em;
    margin: 0;
    color: #fff;
    z-index: 100;
}

.ev_header {
	background-color: #637591;
	border: 1px solid #bbb;
	color: #fff;
    padding: .5em !important;
    margin: 0;
	font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}
.ev_header * {
    color: #fff;
}

.ev_next_day_header {
    background-color: #f0f0f0;
	border-top: 1px solid #bbb !important;
	border-bottom: 1px solid #bbb !important;
    padding: .3em;
    font-weight: bold;
}

.ev_overdue {
    color: red;
    font-weight: bold;
}
.ev_duetoday {
    font-weight: bold;
}

/* ------------ TABLES ------------ */

table.ev_noborder td, td.ev_noborder {
    border: none !important;
    padding: 0em !important;
}
table.ev_table {
	border-collapse: collapse;
	border-spacing: 2px;
}
table.ev_table td {
	border: 1px solid #bbb;
	padding: 0.5em;
}
table.ev_table th {
	background-color: #637591;
	border: 1px solid #bbb;
	color: #fff;
	padding: 0.5em;
	font-size: 1.3em;
}
table.ev_table th a {
	color: #fff;
	text-decoration: underline;
}
table.ev_table th a:hover {
	color: #fff;
	text-decoration: none;
}

table.ev_date {
	border-collapse: collapse;
	border-spacing: 2px;
}
table.ev_date td {
    border: none !important;
	padding: 0.2em;
}

.ev_border {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 1px;
	border: 1px solid #7F90AE;
}

td.ev_table_sep {
    position: relative;
    height: 1em;
}
td.ev_table_sep::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: .05em solid #000;
    transform: translateY(-50%);
}

/* ------------ LISTS ------------ */

ul.ev_iconlist {
    margin-right: .1em;
    margin-top: .1em;
    margin-bottom: .1em;
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}

/* ------------ STATUS ------------ */

td.ev_status_open {
	padding: 4px 4px 4px 4px;
	background-color: #F8B4B4;
}

td.ev_status_running {
	padding: 4px 4px 4px 4px;
	background-color: #fff366;
}

td.ev_status_not_tested {
	padding: 4px 4px 4px 4px;
	background-color: #a8d742;
}

td.ev_status_fixed {
	padding: 4px 4px 4px 4px;
	background-color: #cceedd;
}

td.ev_status_not_reproducable {
	padding: 4px 4px 4px 4px;
	background-color: #CC99CC;
}

td.ev_status_need_info {
	padding: 4px 4px 4px 4px;
	background-color: #FF6633;
}

/* ------------ BUTTONS ------------ */

.ev_button, .ev_button_medium, .ev_button_big {
    background-image: linear-gradient(#f9f9f9, #f1f1f1);
    border-radius: 5px;
    display: inline-block;
    width: auto;
	padding-top: 2px;
    padding-left: .6em;
    padding-right: .6em;
    margin: 2px;
	text-align: left;
	font-weight: bold;
    cursor: pointer;
}
.ev_button *, .ev_button_medium *, .ev_button_big * {
    vertical-align: sub;
}

.ev_button {
    height: 16px;
	font-size: .8em;
    padding-bottom: 4px;
}
.ev_button_medium {
    height: 20px;
	font-size: 1em;
    padding-bottom: 6px;
}
.ev_button_big {
    text-align: center;
    height: 30px;
	font-size: 1.1em;
    padding-bottom: 7px;
}

.ev_button_normal {
    border: 1px solid #3F5E88;
    border-left: 5px solid #3F5E88;
    color: #000000;
}
a.ev_button_normal:hover {
    color: #3F5E88;
    text-decoration: none;
}

.ev_button_good {
    border: 1px solid #198754;
    border-left: 5px solid #198754;
    color: #198754;
}
a.ev_button_good:hover {
    background-image: linear-gradient(#198754, #13653f) !important;
    color: white;
    text-decoration: none;
}

.ev_button_critical {
    border: 1px solid red;
    border-left: 5px solid red;
    color: red;
}
a.ev_button_critical:hover {
    background-image: linear-gradient(#ff0000, #e00000) !important;
    color: white;
    text-decoration: none;
}

.ev_button_selected, .ev_button_selected:hover, .ev_button_selected:active,
.ev_button_selected:link, .ev_button_selected:visited {
    background-color: #627492 !important;
    color: #ffffff !important;
}

/* ------------ ICONS ------------ */

i.ev_spin {
    animation: rotate 1s linear infinite;
    display: inline-block;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ------------ MESSAGES ------------ */

.ev_error {
    background: #d70e0e !important;
    color: #ffffff;
}

.ev_info {
    background: #0041b9 !important;
    color: #ffffff;
}

span.ev_msg_error span.ev_msg_info {
	font-weight: bold;
}

/* ------------ BOXES ------------ */

.ev_vscrollbox {
    max-width: 350px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
}
.ev_box {
	border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.ev_box .ev_scrollbox {
    max-height: 25em;
    overflow-y: scroll;
}
.ev_box > .ev_scrollbox > div {
	border: 1px solid #fff;
    padding: .4em;
    white-space: nowrap;
}
.ev_box .ev_summary {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------------ MONTH/WEEK VIEW ------------ */

.ev_event_occurrence {
    cursor: pointer;
}

.ev_today {
    border-radius: 10px;
    border: .05em solid #000;
    background-color: #d4e3ff;
    padding: 2px;
    color: #000;
    font-weight: bold;
}
.ev_today_bg {
    background-color: #d4e3ff;
}

.ev_status_Cancelled, .ev_status_Completed {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

/* ------------ MONTH VIEW ------------ */

.ev_month_td {
    max-width: 3cm;
    height: 3cm;
    vertical-align: top;
    padding: 0px !important;
}

.ev_month_day_header {
    text-align: right;
    background-color: #f0f0f0;
    color: #555;
    padding: .2em;
}

.ev_cur_month {
    background-color: #ddd;
    color: #000 !important;
}

.ev_month_cell {
    height: 110px;
    overflow-y: scroll;
}
.ev_month_cell div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .2em;
}

/* ------------ WEEK VIEW ------------ */

.ev_week_cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.ev_week_cell div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .2em;
}

/* ------------ ADD ICON -------------- */

.ev_add_icon {
    color: #000;
    display: none;
}
.ev_month_day_header:hover > .ev_add_icon {
    display: inline;
}
.ev_hour_cell:hover > .ev_add_icon {
    display: inline;
}

.ev_right_icon {
    float: right;
    margin-left: .2em;
}

/* ------------ EVENT/TODO POPUP ------------ */

div.ev_selected {
  border: 1px solid #555 !important;
  font-weight: bold !important;
}

.ev_popup {
  background-color: #ffffff;
  border: 1px solid #555;
  box-shadow: 2px 2px 3px #555;
  cursor: default;
  display: none;
  width: 600px;
  z-index: 50;
}

/* ------------ JUMP TO DATE ------------ */

.ev_jump input {
    font-size: .75em;
    color: #000;
}

/* ------------ CALENDAR SOURCES ------------ */

div.ev_cal_src {
    border: 1px solid #fff;
}
span.ev_cal_src {
    height: 15px;
    width: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    flex: 0 0 15px; /* minimum width */
}

span.ev_cal_src_highlight {
    border: 1px solid #000 !important;
}

span.ev_cal_src_disabled {
    background-color: #a0a0a0;
}

/* ------------ JQUERY ------------ */

.bi-check-circle {
    color: #198754;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-selectmenu-text {
    margin-right: 5px !important;
}
.ui-button {
    padding: .4em .5em !important;
}

.popup {
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
}
.popup:before {
    content: "";
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-left: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    border-collapse: separate !important;
    background: #fff;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: -8px;
}
.popover-title {
    background-color: #637591 !important;
    padding: .1em !important;
    margin-top: 2px !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    color: #bbb !important;
}
.popover-content {
    border: 1px solid #c5c5c5 !important;
    border-top: none !important;
    background-color: #f6f6f6 !important;
    padding: .2em !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    margin-bottom: 2px !important;
}
.clockpicker-tick:hover {
    background-color: #627492 !important;
    color: #fff !important;
}
.text-primary {
    color: #fff !important;
}
