/* ------------ GENERAL ------------ */

body {
    font-family: "Linux Biolinum", "Verdana";
    font-size: 1em;
}

input,select,textarea {
    font-size: 11pt;
    padding: 2px;
}
input[type=color] {
    height: 1.5em;
    width: 2.5em;
}

img {
    border: 0;
}

/* links */
a {
    text-decoration: none;
    color: #3F5E88;
}
a:hover {
    text-decoration: underline;
}

/* ------------ PADDING ------------ */

.ev_padtop {
    margin-top: 0.9em !important;
}

.ev_padbottom {
    margin-bottom: 0.9em !important;
}

.ev_padbottom_big {
    margin-bottom: 1.5em !important;
}

/* ------------ FORMULARS ------------ */

input.ev_toggle_button {
    appearance: none;
    padding: 12px 25px;
    border-radius: 12px;
    background: radial-gradient(circle 10px, white 100%, transparent calc(100% + 1px)) #ccc -12px;
    transition: 0.3s ease-in-out;
}

input.ev_toggle_button:checked {
    background-color: dodgerBlue;
    background-position: 12px;
}

fieldset.ev_form {
    padding: 0;
    margin: 0;
    border: 0;
}

fieldset.ev_form dl {
    padding: 0;
    margin: 0;
    margin-top: 1px;
    background-color: #dbdbdb;
}

fieldset.ev_form dt {
    display: block;
    margin: 0;
    float: left;
    padding: 0.5em;
    width: 21%;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
}

fieldset.ev_form dd {
    display: block;
    margin: 0;
    padding: 0.5em;
    margin-left: 23%;
    background-color: #ebebeb;
    vertical-align: middle;
}

fieldset.ev_form div.ev_submit {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.8em;
    background-color: #dbdbdb;
    text-align: center;
}

/* ------------ PAGINATION ------------ */

.ev_pageno {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: .1em;
}

.ev_pagecurrent {
    padding: 0px 4px;
    font-weight: bold;
}

.ev_pageno a {
    padding: 1px 4px;
}

.ev_pageno a:hover {
    background-color: #3F5E88;
    color: #fff;
    text-decoration: none;
}

/* ------------ CONTENT ------------ */

.ev_main {
    padding: 0.3em;
    background-color: #f6f6f6;
}

.ev_desc {
    padding: 0.3em;
    background-color: #dbdbdb;
}

.ev_tabheader {
    display: inline;
    font-size: 1.3em;
    margin: 0;
    color: #fff;
    z-index: 100;
}

.ev_header {
    background-color: #637591;
    color: #fff;
    padding: .5em !important;
    margin: 0;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}
.ev_header * {
    color: #fff;
}

.ev_next_day_header {
    background-color: #f0f0f0;
    border-top: 1px solid #bbb !important;
    border-bottom: 1px solid #bbb !important;
    padding: .3em;
    font-weight: bold;
}

.ev_overdue {
    color: red;
    font-weight: bold;
}
.ev_duetoday {
    font-weight: bold;
}

.ev_quicktask {
    padding: .3em;
    border-top: 1px solid #3F5E88;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: .2em;
}
.ev_quicktask #quick_summary {
    flex: 1;
    width: 10px;
}
.ev_quicktask a {
    height: auto !important;
    margin: 0 !important;
}
.ev_quicktask a * {
    vertical-align: -moz-middle-with-baseline !important;
}
.ev_quicktask i {
    margin-top: auto;
    margin-bottom: auto;
}

/* ------------ TABLES ------------ */

table.ev_noborder > tbody > tr > td, td.ev_noborder {
    border: none;
    padding: 0em;
}
table.ev_table {
    border-collapse: collapse;
    border-spacing: 2px;
}
table.ev_table > tbody > tr > td {
    border: 1px solid #bbb;
    padding: 0.5em;
}
table.ev_table > tbody > tr > th {
    background-color: #637591;
    border: 1px solid #bbb;
    color: #fff;
    padding: 0.5em;
    font-size: 1.3em;
}
table.ev_table > tbody > tr > th > a {
    color: #fff;
    text-decoration: underline;
}
table.ev_table > tbody > tr > th > a:hover {
    color: #fff;
    text-decoration: none;
}

table.ev_table tr:first-child td {
    border-top: none;
}
table.ev_table tr:last-child td {
    border-bottom: none;
}
table.ev_table tr td:first-child {
    border-left: none;
}
table.ev_table tr td:last-child {
    border-right: none;
}

table.ev_date {
    border-collapse: collapse;
    border-spacing: 2px;
}
table.ev_date td {
    border: none !important;
    padding: 0.2em;
}

.ev_border {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 1px;
    border: 1px solid #7F90AE;
}
.ev_border_bottom {
    border-bottom: 1px solid #7F90AE;
}

td.ev_table_sep {
    position: relative;
    height: 1em;
}
td.ev_table_sep::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: .05em solid #000;
    transform: translateY(-50%);
}

/* ------------ LISTS ------------ */

ul.ev_iconlist {
    margin-right: .1em;
    margin-top: .1em;
    margin-bottom: .1em;
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}

/* ------------ STATUS ------------ */

td.ev_status_open {
    padding: 4px 4px 4px 4px;
    background-color: #F8B4B4;
}

td.ev_status_running {
    padding: 4px 4px 4px 4px;
    background-color: #fff366;
}

td.ev_status_not_tested {
    padding: 4px 4px 4px 4px;
    background-color: #a8d742;
}

td.ev_status_fixed {
    padding: 4px 4px 4px 4px;
    background-color: #cceedd;
}

td.ev_status_not_reproducable {
    padding: 4px 4px 4px 4px;
    background-color: #CC99CC;
}

td.ev_status_need_info {
    padding: 4px 4px 4px 4px;
    background-color: #FF6633;
}

/* ------------ BUTTONS ------------ */

.ev_button, .ev_button_medium, .ev_button_big {
    background-image: linear-gradient(#f9f9f9, #f1f1f1);
    border-radius: 5px;
    display: inline-block;
    width: auto;
    padding-top: 2px;
    padding-left: .6em;
    padding-right: .6em;
    margin: 2px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}
.ev_button *, .ev_button_medium *, .ev_button_big * {
    vertical-align: sub;
}
.ev_button_link {
    text-decoration: none;
    color: #000;
}
.ev_button_link:hover {
    text-decoration: none;
    color: #3F5E88;
}

.ev_button {
    height: 16px;
    font-size: .8em;
    padding-bottom: 4px;
}
.ev_button_medium {
    height: 20px;
    font-size: 1em;
    padding-bottom: 6px;
}
.ev_button_big {
    text-align: center;
    height: 30px;
    font-size: 1.1em;
    padding-bottom: 7px;
}

.ev_button_normal {
    border: 1px solid #3F5E88;
    border-left: 5px solid #3F5E88;
    color: #000000;
}
a.ev_button_normal:hover {
    color: #3F5E88;
    text-decoration: none;
}

.ev_good_color {
    color: #198754;
}
.ev_button_good {
    border: 1px solid #198754;
    border-left: 5px solid #198754;
    color: #198754;
}
a.ev_button_good:hover {
    background-image: linear-gradient(#198754, #13653f) !important;
    color: white;
    text-decoration: none;
}

.ev_warn_color {
    color: #f57c00;
}
.ev_button_warn {
    border: 1px solid #f57c00;
    border-left: 5px solid #f57c00;
    -webkit-text-stroke: 0.4px rgba(0,0,0,.3);
    color: #f57c00;
}
a.ev_button_warn:hover {
    background-image: linear-gradient(#f57c00, #c66400) !important;
    -webkit-text-stroke: 0;
    color: white;
    text-decoration: none;
}

.ev_critical_color {
    color: red;
}
.ev_button_critical {
    border: 1px solid red;
    border-left: 5px solid red;
    color: red;
}
a.ev_button_critical:hover {
    background-image: linear-gradient(#ff0000, #e00000) !important;
    color: white;
    text-decoration: none;
}

.ev_button_selected, .ev_button_selected:hover, .ev_button_selected:active,
.ev_button_selected:link, .ev_button_selected:visited {
    background-color: #627492 !important;
    color: #ffffff !important;
}

.ev_button_uid {
    background-image: linear-gradient(#3F5E88, #3F5E88) !important;
    padding-left: .4em !important;
    padding-right: .4em !important;
    color: #ffffff;
}

/* ------------ RESPONSE MENU ------------ */

.ev_response_dropdown {
    position: relative;
    display: inline-block;
}
.ev_response_dropdown a {
    width: 80px;
}
.ev_response_dropdown a i {
    margin-right: 8px;
}

.ev_response_menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    margin-left: 2px;
    padding: 0;
    list-style: none;
    z-index: 1000;
}
.ev_response_menu a {
    width: 80px;
    margin: 0;
    margin-bottom: 2px;
    float: left;
}

/* ------------ ICONS ------------ */

i.ev_spin {
    animation: rotate 1s linear infinite;
    display: inline-block;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ------------ MESSAGES ------------ */

.ev_error {
    background: #d70e0e !important;
    color: #ffffff;
}

.ev_info {
    background: #0041b9 !important;
    color: #ffffff;
}

span.ev_msg_error span.ev_msg_info {
    font-weight: bold;
}

/* ------------ BOXES ------------ */

.ev_vscrollbox {
    max-width: 350px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
}
.ev_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.ev_box .ev_scrollbox {
    height: 100%;
    overflow-y: scroll;
}
.ev_box > .ev_scrollbox > div {
    border: 1px solid #fff;
    white-space: nowrap;
}
.ev_box .ev_summary {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------------ MONTH/WEEK VIEW ------------ */

.ev_event_occurrence {
    cursor: pointer;
    height: 30px;
}

.ev_today {
    background-color: #fff8a2 !important;
    font-weight: bold;
}
.ev_today_bg {
    background-color: #fff8a2 !important;
}

.ev_status_Cancelled, .ev_status_Completed {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.ev_vertbar {
    float: left;
    position: relative;
    padding: 3px 0px !important;
    width: 5px;
    height: calc(100% - 10px);
}
.ev_vertbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid white;
}

.ev_vertbar_spacer {
    width: 9px;
    float: left;
}

.ev_vertbar_needsaction {
    margin: 2px;
    background-color: #ffffff;
}
.ev_vertbar_ACCEPTED {
    margin: 2px;
    background-color: #198754;
}
.ev_vertbar_TENTATIVE {
    margin: 2px;
    background-color: #d56c05;
}
.ev_vertbar_DECLINED {
    margin: 2px;
    background-color: red;
}

/* ------------ MONTH VIEW ------------ */

.ev_month_td {
    max-width: 3cm;
    height: 3cm;
    vertical-align: top;
    padding: 0px !important;
}

.ev_month_day_header {
    text-align: right;
    background-color: #f0f0f0;
    color: #555;
    padding: .2em;
}

.ev_cur_month {
    background-color: #ddd;
    color: #000 !important;
}

.ev_month_cell {
    height: 110px;
    overflow-y: scroll;
}
.ev_month_cell div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------------ WEEK VIEW ------------ */

.ev_week_day_header {
    position: relative;
}
.ev_week_day_header > .ev_add_icon {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
}

.ev_week_cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.ev_week_event div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ev_drag_event {
    border: 1px solid #000 !important;
    font-weight: bold;
}
.ev_drag_hover {
    outline: 1px solid #000000;
    outline-offset: -1px;
}

/* ------------ ADD ICON -------------- */

.ev_add_icon {
    color: #000;
    visibility: hidden;
}
.ev_week_day_header:hover > .ev_add_icon {
    visibility: visible;
}
.ev_month_day_header:hover > .ev_add_icon {
    visibility: visible;
}
.ev_hour_cell:hover > .ev_add_icon {
    visibility: visible;
}

.ev_right_icon {
    float: right;
    margin-left: .2em;
}

/* ------------ EVENT/TODO POPUP ------------ */

div.ev_current {
    font-weight: bold !important;
}

div.ev_selected {
    border: 1px solid #555 !important;
}

.ev_popup {
    background-color: #ffffff;
    border: 1px solid #555;
    box-shadow: 2px 2px 3px #555;
    position: absolute;
    cursor: default;
    display: none;
    width: 600px;
    z-index: 50;
}

/* ------------ TAG & FOLDER ------------ */

.ev_tag, .ev_folder {
    color: white;
}
.ev_tag:hover, .ev_folder:hover {
    cursor: pointer;
}
.ev_tag:hover::before {
    content: "\f5af";
}

.ev_folder i.bi-folder-fill {
    display: none;
}
.ev_folder:hover i.bi-folder {
    display: none;
}
.ev_folder:hover i.bi-folder-fill {
    display: inline-block;
}

/* ------------ JUMP TO DATE ------------ */

.ev_jump input {
    font-size: .75em;
    color: #000;
}

/* ------------ CALENDAR SOURCES ------------ */

div.ev_cal_src {
    border: 1px solid #ffffff;
}
span.ev_cal_src {
    height: 18px;
    width: 18px;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    flex: 0 0 18px; /* minimum width */
}
span.ev_cal_src_button {
    font-size: .7em;
    text-align: center;
    vertical-align: middle;
}

.ev_cal_src_inner {
    position: relative;
    left: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
}

span.ev_cal_src_highlight {
    border: 1px solid #000 !important;
}

span.ev_cal_src_disabled {
    background-color: #a0a0a0;
}

/* ------------ CALENDARS ------------ */

.ev_cal_box {
    background-color: #ffffff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.ev_cal_box_header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: .3em;
}

.ev_cal_box_body {
    margin: .3em;
}

.ev_cal_box_left, .ev_cal_box_right {
    display: flex;
}

.ev_cal_box_left_item, .ev_cal_box_right_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ev_cal_box_color_grid {
    display: grid;
    grid-template-columns: auto 5em auto 1fr;
    grid-template-rows: auto auto;
    gap: .3em;
}

.ev_cal_box_color_grid div * {
    vertical-align: middle;
}

.ev_add_cal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .3em;
}

/* ------------ JQUERY ------------ */

.bi-check-circle {
    color: #198754;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-selectmenu-text {
    margin-right: 5px !important;
}
.ui-button {
    padding: .4em .5em !important;
}

.ui-state-active {
    margin: 0px !important;
}

.popup {
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
}
.popup:before {
    content: "";
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-left: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    border-collapse: separate !important;
    background: #fff;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: -8px;
}
.popover-title {
    background-color: #637591 !important;
    padding: .1em !important;
    margin-top: 2px !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    color: #bbb !important;
}
.popover-content {
    border: 1px solid #c5c5c5 !important;
    border-top: none !important;
    background-color: #f6f6f6 !important;
    padding: .2em !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    margin-bottom: 2px !important;
}
.clockpicker-tick:hover {
    background-color: #627492 !important;
    color: #fff !important;
}
.text-primary {
    color: #fff !important;
}

.iconselectmenu-compact {
    min-width: auto !important;
    width: auto !important;
    padding: 0.2em !important;
}
.iconselectmenu-compact .ui-selectmenu-icon {
    display: none;
}
.iconselectmenu-compact .ev_cal_src {
    margin-right: 0 !important;
}
.iconselectmenu-compact .ui-selectmenu-text {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
